@model IEnumerable<DotnetEcommerceStore.Models.BasketItem>

<body>
    @if (Model.Count() < 1)
    {
        <P> Your Basket Is Empty </P>
    }

    @foreach (var item in Model)
    {
        <div>

        </div>
    }







</body>

