@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/Styles/HomeIndex.css" />


<div id="test">
    <div>
        <p>Hello Nate and Amanda from Ian and Mike!!</p>
    </div>
    <div>
        <p>It runs....Yaay!!!!</p>
    </div>
</div>

