@{
    Layout = "_Layout";
}

<script src="~/Styles/StyleSheet.css"></script>
<div id="test">
    <div>
        <p>Hello Nate and Amanda from Ian and Mike!!</p>
    </div>
    <div>
        <p>It runs....Yaay!!!!</p>
    </div>
</div>

