@model IEnumerable<DotnetEcommerceStore.Models.ViewModels.BasketProductViewModel>

    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basket</title>
</head>
<body>
</body>
</html>
