@*@model IEnumerable<DotnetEcommerceStore.Models.Cart>


<body>
    <section style="border: 2px solid black">
        Your Cart

        @foreach (var item in Model)
        {
            <div>
                
               

            </div>
        }
    </section>
</body>

