@model DotnetEcommerceStore.Models.Cart
@*@model IEnumerable<DotnetEcommerceStore.Models.Cart>*@
@{
    ViewData["Title"] = "CartView";
}

<h1>CartView</h1>


@*<body>
    @if (Model.Count() < 1)
    {
        <P> Your Basket Is Empty </P>
    }

    @foreach (var item in Model)
    {
        <div>

        </div>
    }







</body>*@
