@model IEnumerable<DotnetEcommerceStore.Models.Product>
@using DotnetEcommerceStore.Models.Interfaces
@inject IInventory InventoryService
@using Microsoft.AspNetCore.Identity
@using DotnetEcommerceStore.Models
@inject SignInManager<ApplicationUser> signInManager

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/Styles/StyleSheet.css" />
<link rel="stylesheet" href="~/Styles/product.css" />
<link rel="stylesheet" href="~/Styles/productIndex.css" />

<h1>Index</h1>

@{
    var products = await InventoryService.GetProductList();
}
<div>
    @if (signInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("Cart")
    }
</div>

<div class="salesblock">
    @foreach (var product in products)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="card">
                        <div class="card-header">@product.Name</div>
                        <div class="card-body"><img src="~/Images/Products/Placeholder.png" class="prodimage" /></div>
                        <div class="card-body">@product.Description</div>
                        <div class="card-footer">$ @product.Price</div>
                        <div class="card-footer"><a id="itemDetails" asp-controller="Product" asp-route-id="@product.ID" asp-action="Details">View Details</a></div>
                    </div>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="card-footer"><button class="AddToBasket" type="button">Add to Basket</button></div>
                    }
                    else
                    {
                        <div class="card-footer"><button onclick="location.href='/Account/Login'">Login to Add to Basket</button></div>
                    }
                </div>
            </div>
        </div>
    }
</div>
