@model DotnetEcommerceStore.Models.ViewModels.RegisterViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}


<link rel="stylesheet" href="~/Styles/Account.css" />
<link rel="stylesheet" href="~/Styles/Register.css" />

<h1>Register</h1>

<div class="regform">
    <form method="post">

        <div asp-validation-summary="All" class="text-primary"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-primary"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="text-primary"></span>
        </div>


        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-primary"></span>
        </div>

        <div class="form-group">
            <label asp-for="FavInstrument"></label>
            <input asp-for="FavInstrument" />
            <span asp-validation-for="FavInstrument" class="text-primary"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProMusician"></label>
            <input asp-for="ProMusician" />
            <span asp-validation-for="ProMusician" class="text-primary"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="text-primary"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-primary"></span>
        </div>

        <div class="form-group">
            <button type="submit">Register</button>
        </div>

    </form>
</div>

