body {
    background: url(../Images/Background/LoginBackground.jpg) no-repeat center center fixed; /*background image is free-for-personal-use from http://clipart-library.com/clipart/6Tp5GEn7c.htm */
    background-size: cover;
    color: moccasin;
}

#loginform {
    top: 5vh;
    left: 2vw;
}
