body {
    background: url(../Images/Background/productDetailsBackground.jpg) no-repeat center center fixed; /*background image is free-use from https://www.vecteezy.com/vector-art/125682-note-of-music-background-template */
    background-size: cover;
    color: moccasin;
}
