body {
    background: url(../Images/Background/productIndexBackground.jpg) no-repeat center center fixed; /*background image is free-use from https://www.vecteezy.com/vector-art/115408-free-silver-vector-violin-key */
    background-size: cover;
    color: moccasin;
}
