body {
    background: url(../Images/Background/RegBackground.jpg) no-repeat center center fixed; /*background image is free-for-personal-use from http://clipart-library.com/clipart/yikrGenMT.htm */
    background-size: cover;
    color: moccasin;
}


